{{> componentes}}
{{> header}}
 <div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-0" style="z-index: 9;">
      <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
        <a href="/" class="navbar-brand">
          <h1 class="m-0 text-primary"><span class="text-dark">Find my Ho</span>use</h1>
        </a>
        <button class="btn btn-success floating-button" onclick="fspublicar()">
          <span class="icon-plus"> Publicar</span></button>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
          <div class="navbar-nav ml-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Inicio</a>
            <a href="/publicar" class="nav-item nav-link">Publicar</a>
            <a href="service.html" class="nav-item nav-link">Services</a>

            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Servicios</a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                <a href="/users/signup" class="dropdown-item">Publicar</a>
                <a href="single.html" class="dropdown-item">Blog Detail</a>
                <a href="destination.html" class="dropdown-item">Destination</a>
                <a href="guide.html" class="dropdown-item">Travel Guides</a>
                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
              </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
<div class="container-fluid d-lg-block" style="padding-top: 68px;">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Busar Publicacion</h1>
            </div>
            <!-- Booking Start -->
            <div class="container pb-0">
                <div class="bg-light shadow" style="padding: 30px;">
                    <div class="row align-items-center">


                        <div class="col">
                            <div class="mb-3 mb-md-3">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Sector o ciudad donde deseas buscar</option>
                                    <option value="1">Destination 1</option>
                                    <option value="2">Destination 1</option>
                                    <option value="3">Destination 1</option>
                                </select>
                            </div>



                            <div class="mb-3 mb-md-3">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Destination</option>
                                    <option value="1">Destination 1</option>
                                    <option value="2">Destination 1</option>
                                    <option value="3">Destination 1</option>
                                </select>
                            </div>


                            <div class="mb-3 mb-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input"
                                        placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker" />
                                </div>
                            </div>


                            <div class="mb-3 mb-md-3">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input"
                                        placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker" />
                                </div>
                            </div>


                            <div class="mb-3 mb-md-3">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Duration</option>
                                    <option value="1">Duration 1</option>
                                    <option value="2">Duration 1</option>
                                    <option value="3">Duration 1</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit"
                                style="height: 47px; margin-top: -2px;">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-8">
            <div class="text-center mb-3 pb-1">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Resultados </h6>
            </div>
            <div class="scroll-container">
                <div class="row">
                    {{#each misPublicaciones}}
                    <div class="col-md-4">
                        <div class="containerImagen" id="myContainer">
                            <div class="post">
                                <div class="post-header">
                                    {{!-- <img src="/img/avatar.png" alt="Avatar" class="avatar"> --}}
                                    <div class="post-info">
                                        {{!-- <h2 style="font-size: 18px; float:right">{{nombre}} {{apellido}}</h2><br> --}}
                                        <p style="font-size: 12px; float:right">{{fechaFormateada}} a las {{hora}}</p>
                                        <br>
                                        <p style="font-size: 11px; float:right">#{{numPublicacion}}</p>
                                    </div>

                                </div>
                                <div class="position-relative" style="z-index: 11;">
                                    <div class="blog-date">
                                        <h6 class="font-weight-bold mb-n1">{{moneda}}</h6>
                                        <small class="text-white text-uppercase">{{precio}}</small>
                                    </div>
                                </div>

                                <div class="titulo">
                                    <p style="font-size: 15px;">{{titulo}}</p>
                                </div>
                                <a href="/vistaSeleccionado/{{_id}}">
                                    <div class="post-content">
                                        <div id="carouselExampleControls{{@index}}" class="carousel slide"
                                            data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                {{#each fotos}}
                                                <li data-target="#carousel{{@index}}" data-slide-to="{{@index}}" {{#if
                                                    @first}}class="active" {{/if}}>
                                                </li>
                                                {{/each}}
                                            </ol>
                                            <div class="carousel-inner">
                                                {{#each fotos}}
                                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                                    <img src="/upload/{{this}}" alt="Imagen {{@index}}"
                                                        style="width: 500px; height: 200px;">
                                                </div>
                                                {{/each}}
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls{{@index}}"
                                                role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls{{@index}}"
                                                role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                                <form id="formLike">
                                    <div class="post-actions">
                                        <!-- Botones de acciones (Me gusta, Comentar, Compartir, etc.) -->
                                        <span class="icon-heart2"
                                            style="color: rgba(150, 150, 150, 0.87);cursor:pointer"
                                            onclick="optener('{{_id}}')"></span>
                                        <button type="submit" id="enviarLike" hidden></button>
                                        <input type="hidden" name="id" id="idOptenido">
                                        <a class="text-info  px-3" href="" class="sin-subrayado">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        <a class="text-info px-3" href="/delete/{{_id}}" class="sin-subrayado">
                                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </form>

                                <div class="detalles">
                                    <span class="icon-user"> {{municipio}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>

    </div>
</div>




{{>footer}}